/TugasPBO/TugasPBO_4/nbproject/private/
/TugasPBO/TugasPBO_4/build/
/TugasPBO/TugasPBO_4/dist/
/TugasPBO/TugasPBO_5/nbproject/private/
/TugasPBO/UTS_PBO/nbproject/private/
/TugasPBO/UTS_PBO/build/
/TugasPBO/TugasPBO_5/build/
/TugasPBO/UTS_PBO/dist/
/TugasPBO/Remidi_UTS_PBO/nbproject/private/
/TugasPBO/Remidi_UTS_PBO/build/
/TugasPBO/TugasPBO_6/nbproject/private/
/TugasPBO/TugasPBO_6/build/
/TugasPBO/TugasPBO_6/dist/
/TugasPBO/TugasPBO_7/nbproject/private/
/TugasPBO/TugasPBO_7/build/
/TugasPBO/TugasPBO_7/dist/
/TugasPBO/TugasPBO_8/nbproject/private/
/TugasPBO/TugasPBO_8/build/
/TugasPBO/TugasPBO_8/dist/
/TugasPBO/TugasPBO_9/nbproject/private/
/TugasPBO/TugasPBO_9/build/
/TugasPBO/UAS_PBO/nbproject/private/
/TugasPBO/UAS_PBO/build/
/TugasPBO/TTT_PBO/nbproject/private/
/TugasPBO/TTT_PBO/build/