/TugasPBO/TugasPBO_4/nbproject/private/
/TugasPBO/TugasPBO_4/build/
/TugasPBO/TugasPBO_4/dist/
/TugasPBO/TugasPBO_5/nbproject/private/
/TugasPBO/UTS_PBO/nbproject/private/
/TugasPBO/UTS_PBO/build/
/TugasPBO/TugasPBO_5/build/
/TugasPBO/UTS_PBO/dist/
/TugasPBO/Remidi_UTS_PBO/nbproject/private/
/TugasPBO/Remidi_UTS_PBO/build/
/TugasPBO/TugasPBO_6/nbproject/private/
/TugasPBO/TugasPBO_6/build/
/TugasPBO/TugasPBO_6/dist/